:root {
  --font-base: Roboto, sans-serif;
  --bg-color-primary: #2e3142;
  --text-color-primary: #2e3142;
  --link-color-primary: #1696e0;
  --button-bg-color-primary: #1696e0;
  --button-text-color-primary: white;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

body {
  margin-left: 15px;
  margin-right: 15px;
}

header a,
footer a {
  color: white !important;
  text-decoration: none !important;
}

footer {
  background-color: var(--bg-color-primary);
  color: white;
  padding: 2em 0;
}

footer p {
  color: white !important;
}

.my-border-line {
  border-top: 1px solid grey;
}

@media (max-width: 768px) {
  .row-cols-2 > .col {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.narrow-div {
  width: 20em;
  margin: 0 auto; /* Centers the div if it's less than 100% width */
}

.slick-carousel .narrow-div:nth-child(n + 4) {
  display: none;
}
